<configuration>

    <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 로그 파일이 저장될 경로 -->
        <file>./logs/errorLogFile.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <!-- 롤링 정책 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./logs/errorLogFile.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- keep 3 days' worth of history capped at 1GB total size -->
            <maxHistory>3</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{MM/dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>


    <appender name="DB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 로그 파일이 저장될 경로 -->
        <file>./logs/dbLogFile.log</file>
        <!-- 롤링 정책 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./logs/dbLogFile.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- keep 3 days' worth of history capped at 1GB total size -->
            <maxHistory>3</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{MM/dd HH:mm:ss} [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>


    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="accessLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/accessLogFile.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>./logs/accessLogFile.%d{yyyy-MM-dd}.%i.zip</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <!-- keep 3 days' worth of history capped at 1GB total size -->
            <maxHistory>3</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>

        <encoder>
<!--            <pattern>%cyan(%date GMT) [%highlight(%-5level)] [%magenta(%thread)] [%blue(%logger{36}.%M\(%line\))] %msg %n</pattern>-->
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="Error"/>
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
        <appender-ref ref="DB"/>
    </logger>

    <logger name="ACCESS" level="INFO" additivity="false">
        <appender-ref ref="accessLog" />
    </logger>

</configuration>