<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap" rel="stylesheet">
    <!-- Css -->
<!--  <link rel="stylesheet" type="text/css" href="/css/user.css">-->
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <script>
        function onclickAdmin() {
            // Get the checkbox
            var checkBox = document.getElementById("admin-check");
            // Get the output text
            var box = document.getElementById("admin-token");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                box.style.display = "block";
            } else {
                box.style.display = "none";
            }
        }
    </script>
</head>
<body>
<div id="login-form">
<!--    <img class="logo" th:src="@{/images/mucosa.png}" alt="mucosa">-->

    <form action="/signup" method="post">
        <div class="login-id-label">이메일</div>
        <input type="text" name="email" id="email" placeholder="E-mail" class="login-input-box">

        <div class="login-id-label">비밀번호</div>
        <input type="password" name="password" id="password" placeholder="Password" class="login-input-box">

<!--        <div class="login-id-label">비밀번호 확인</div>-->
<!--        <input type="password" name="passwordCheck" id="passwordCheck" placeholder="Password Check" class="login-input-box">-->
        <div class="login-id-label">연령대</div>
        <select name="age" id="age">
          <option value='10대' selected>10대</option>
          <option value='20대'>20대</option>
          <option value='30대'>30대</option>
          <option value='40대이상'>40대이상</option>
        </select>
<!--        <div>-->
<!--            <input id="admin" type="checkbox" name="admin" style="margin-top: 40px;">셀러-->
<!--        </div>-->

        </br>
        </br>
        <button id="login-id-submit" class="btn btn-dark">회원 가입</button>
    </form>
</div>
</body>
<script>
    function onSignup() {
        console.log($('#admin-check').val());

        $.ajax({
            type: "POST",
            url: `/api/signup`,
            contentType: "application/json",
            data: JSON.stringify({
                email: $('#email').val(),
                password: $('#password').val(),
                age: $('#age').val(),
                role: "유저"
            }),
            success: function (response, textStatus, request) {
                const jwtToken = request.getResponseHeader("Authorization");

                if (jwtToken) {
                    $.cookie("token", jwtToken);
                    $.ajaxSetup({
                        headers: {
                            'Authorization': $.cookie('token', jwtToken, {path: '/'})
                        }
                    });
                    window.location.href = '/login.html';// 성공 시 메인 페이지 이동
                } else {
                    window.location.href = '/login?error';//에러 페이지 이동
                }
            }
        })
    }
</script>
</html>